<div class="container">

    <h2>Welcome to homepage</h2>
    <div class="custom-section">
        <div class="btn-section">
            <h2>for task 1 go show form</h2>
            <button mat-raised-button color="primary" (click)="goToform()">showForm</button>
        </div>
        <div class="btn-section">  
            <h2>for task 2 go show DataTable</h2>
            <button mat-raised-button color="accent" (click)="goTotable()">showDataTable </button>
        </div>
        <div class="btn-section">    
            <h2>for task 3 go show Directive</h2>
            <button mat-raised-button color="warn" (click)="goTodirective()">showDirective</button>
        </div>
    </div>
</div>